// 颜色
$accentColor:#3eaf7c;
$textColor:#2c3e50;
$borderColor:#eaecef;
$codeBgColor:#282c34;
$arrowBgColor:#ccc;
$badgeTipColor:#42b983;
$badgeWarningColor:darken(#ffe564, 35%);
$badgeErrorColor:#DA5961;

// 布局
$navbarHeight:3.6rem;
$sidebarWidth:40rem;
$contentWidth:740px;
$homePageWidth:960px;

// 响应式变化点
$MQNarrow:959px;
$MQMobile:719px;
$MQMobileNarrow:419px;

.contains-task-list li {
  list-style-type: none;
  margin-left: -22px;
}

.page-edit, .theme-default-content, div.page-nav {
  margin: 0 0 0 3em !important;
}

p>code {
  padding: 2px 4px;
  color: #c0341d !important;
  background-color: #fbe5e1 !important;
}

.line-number {
  font-family: "Fira Code", "Roboto Mono", monospace;
}

.theme-default-content:not(.custom),
.page-edit,
.page-nav {
  max-width: 90% !important;
}
